<!DOCTYPE html>
<html>

<head>
  <title>List of all pages</title>
</head>

<body>
  <main>
    <table>
      <thead>
        <th>Name</th>
        <th>URL</th>
        <th>XPath</th>
        <th>Actions</th>
      </thead>
      <tbody>
        {% for p in pages %}
        <tr>
          <td>{{ p.name }}</td>
          <td>{{ p.url }}</td>
          <td>{{ p.xpath }}</td>
          <td><a href="/crawl_page?page_id={{ p.doc_id }}">Crawl</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </main>
  <nav>
    <a href="/">Home</a>
  </nav>
</body>

</html>
